@model PaymentGateway21052021.Areas.SysSetup.Models.CreateUserKYCInfoViewModel
@{
    ViewData["Title"] = "KYC Information";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}


<div class="card-body">

    <h1 class="mb-2">@ViewData["KYC Info"]</h1>


    <div class="row">
        <div class="col-12 col-md-12 col-xl-8 col-left">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="UserKYCInfo" asp-controller="SysUserKYCInfo" method="post">
                        <div class="form-group">
                            @Html.AntiForgeryToken()
                            <select id="IdentificationTypeID" asp-for="IdentificationTypeID" asp-items="@(new SelectList(ViewBag.IdentificationTypeList, "IdentificationTypeID", "IdentificationTypeName"))"
                                    class="form-control" placeholder="Service Type"></select>
                            <span asp-validation-for="IdentificationTypeID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="IdentificationValue" placeholder="Enter Identification Value" class="form-control" />
                            <span asp-validation-for="IdentificationValue" class="text-danger"></span>
                           </div>
                            <input type="submit" value="Add User KYC Info" class="btn btn-info" />
                    </form>                  
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-xl-4 col-right">
            <div class="card mb-4">
                <div class="card-body mx-auto">
                    <div class="float-left mr-3">
                        <a asp-action="UserKYCInfos" class="btn btn-warning float-left">List of User KYC Infos</a>
                    </div>
                    <div class="float-left">
                        @if (ViewBag.Message != null)
                        {
                            <span class="alert-success">@ViewBag.Message</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>