@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="page-header page-header-text-light bg-secondary pb-5">
    <div class="container">
        <div class="row align-items-center">

        </div>
    </div>
</section>

<section class="about-area pb-70">
    <div class="page-title-area item-bg1" style="background-image: url(../ui/images/login-bg.jpg); background-attachment: scroll; background-size: cover;">
        <div class="container">
            <div class="page-title-content">
                <h2> Privacy Policy </h2>
                <p>Borderless Payment Solutions</p>
            </div>
        </div>
    </div>
</section>



<div id="content">
    <div class="container">
        <div class="bg-light shadow-md rounded p-5">
            <div class="container">
                <div class="row mb-12">
                    <div class="col-md-12">
                        <div class="featured-box">
                            <strong>PRIVACY STATEMENT</strong>
                            <br />
                            <p>
                                You acknowledge that by your use of the Platform, we shall be privy to and store some of your personal information (full name, mobile phone number and email address).
                                We shall use our best endeavors to ensure that your personal information is secure on our systems.
                                We may use your personal information for:
                                providing you the service, processing transactions and sending you related information;
                                providing, maintaining and improving our services;
                                sending support and administrative messages to you;
                                responding to your enquiries and requests;
                                providing customer service;
                                updating you on products, services, promotions, rewards, and events offered by us and third parties; and
                                a better understanding of your needs by combining it with information collected from others with the objective of improving on our service delivery.
                                We may disclose any information we collect about you to third parties as set forth below:
                                to regulatory bodies;
                                to financial institutions;
                                to companies, such as email service providers that perform marketing services on our behalf;
                                to third parties to enable us provide Service to you; and
                                if required to be disclosed under applicable law, or stock exchange regulation or by a government order, decree, regulation or rule or by a court order.
                                You hereby consent to the processing, transfer and storage of your information during and after the use of the Platform.
                                INDEMNITY
                                You agree to indemnify Interswitch Limited, and its subsidiaries, affiliates, officers, agents and employees for any loss, damages, liabilities, sanction, claims, suits, fines, charges, expenses due to or arising out of any transaction you process through the Platform.
                                You agree to indemnify Interswitch limited and its subsidiaries, affiliates, officers, agents and employees for any loss, damages, liabilities, sanction, claims, suits, fines, charges, expenses arising from your violation of this Terms of Use
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>