@model PaymentGateway21052021.Areas.SysSetup.Models.SysTransactionTypeViewModel
@{
    ViewData["Title"] = "Update Transaction Type";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<div class="card-body">

    <h2 class="mb-2">Update TransactionType</h2>


    <div class="card">
        <div class="card-body">
            <div class="col-10 mb-5">
                <div class="float-left mr-3">
                    <a asp-action="TransactionTypeList" class="btn btn-warning float-left">List of Transaction Types</a>
                </div>
                <div class="float-left">
                    @if (ViewBag.Message != null)
                    {
                        <span class="alert-success">@ViewBag.Message</span>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 mb-6">

        <form asp-action="UpdateTransactionType" asp-controller="SysTransactionType" method="post">
            @Html.AntiForgeryToken()
            <input asp-for="TransactionType" placeholder="Enter User Type" class="form-control" />
            <span asp-validation-for="TransactionType" class="text-danger"></span>
            <br /><br />
            <input type="hidden" asp-for="TransactionTypeID" />
            <input type="submit" value="Update TransactionType" class="btn btn-info" />
        </form>
    </div>
</div>