@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}



<br /> 

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> EgolePay | Online Payment Platform </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/login/egslite/img/favicon.png">
    <link rel="stylesheet" href="~/login/egslite/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/login/egslite/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/login/egslite/font/flaticon.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/login/egslite/style.css">
</head>

<body>
    <section class="fxt-template-animation fxt-template-layout3" data-bg-image="/login/egslite/img/figure/bg3-l.png">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12 fxt-none-991">
                    <div class="fxt-header">

                    </div>
                </div>
                <div class="col-lg-6 col-12 fxt-bg-color">
                    <div class="fxt-content">
                        <div class="fxt-form">
                            <div class="fxt-transformY-50 fxt-transition-delay-1 mx-auto">
                                <a href="#" class="fxt-header fxt-logo mx-auto"><img style="max-width: 60%; margin-left: 60px; margin: 0 auto;" src="~/login/egslite/img/EgolePay.png" alt="Logo"></a>
                            </div>
                            <p class="mb-5">@ViewData["Title"]</p>
                            <p class="mb-5"> @ViewData["Message"] </p>

                            <form>
                                <div class="form-group">

                                    <h4> Please check your email to reset your password.</h4>
                                </div>
                            </form>


                        </div>
                        <div class="fxt-style-line">
                            <h3>Or Login With Email</h3>
                        </div>
                        <div class="fxt-footer">
                            <p>Don't have an account?<a asp-area="Identity" asp-controller="Account" asp-action="Login" class="switcher-text2 inline-text"> Sign In </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/login/egslite/js/jquery-3.5.0.min.js"></script>
    <script src="~/login/egslite/js/bootstrap.min.js"></script>
    <script src="~/login/egslite/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/login/egslite/js/validator.min.js"></script>
    <script src="~/login/egslite/js/main.js"></script>

</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


