@page
@model LogoutModel

@{
    ViewData["Title"] = "Log out";
}

<section class="section bg-light shadow-md">
    <div class="container">
        <header>
            <h1>@ViewData["Title"]</h1>
            <p>You have successfully logged out of the application.</p>
        </header>
    </div>
</section>
