@model PaymentGateway21052021.Areas.SysSetup.Models.HoldDisplayMerchantMappingViewModel

@{
    ViewData["Title"] = "MerchantMappingList";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<div class="card-body col-12">

    <h2 class="mb-2">
        List Of Merchant(s) Mapping
    </h2>

    <div class="card">
        <div class="card-body">

            <div class="col-10 mb-6">
                <form asp-action="MerchantMappingList" asp-controller="SysMerchantMapping" asp-area="SysSetup" method="get">
                    <div class="float-left mr-3">
                        <input name="searchText" placeholder="Enter Merchant / SubMerchant " class="form-control" />
                    </div>
                    <div class="float-left">
                        <input type="submit" value="Search" class="btn btn-info float-left mr-3" />
                        <a asp-action="MerchantMapping" class="btn btn-warning float-left ml-3">Map New SubMerchant(s)</a>
                    </div>

                </form>

            </div>
            <br />

            @if (Model != null && Model.HoldAllMerchantMapping.Count() > 0)
            {

                <table class="table">
                    <thead>
                        <tr>
                            @*<th>S/N</th>*@
                            <th>
                                Merchant Name
                            </th>
                            <th>
                                SubMerchant Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HoldAllMerchantMapping)
                        {
                            //indx++;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MerchantName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubMerchantName)
                                </td>
                                <td>
                                    <a asp-action="Update" asp-route-id="@item.MerchantMappingID" class="btn btn-success float-left ml-3">
                                        <span class="fe fe-edit">Edit</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- pager -->
                @if (Model.Pager.EndPage > 1)
                {

                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a href="~/SysSetup/SysMerchantMapping/MerchantMappingList" class="page-link">First</a>
                            </li>
                            <li class="page-item">
                                <a href="~/SysSetup/SysMerchantMapping/MerchantMappingList?page=@(Model.Pager.CurrentPage - 1)" class="page-link">Previous</a>
                            </li>
                        }

                        @for (var pageIndex = Model.Pager.StartPage; pageIndex <= Model.Pager.EndPage; pageIndex++)
                        {
                            var myPage = pageIndex;
                            <li class="@(pageIndex == Model.Pager.CurrentPage ? "active" : "") page-item">
                                <a href="~/SysSetup/SysMerchantMapping/MerchantMappingList?pageIndex=@myPage" class="page-link"> @myPage </a>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a href="~/SysSetup/SysMerchantMapping/MerchantMappingList?pageIndex=@(Model.Pager.CurrentPage + 1)" class="page-link">Next</a>
                            </li>
                            <li class="page-item">
                                <a href="~/SysSetup/SysMerchantMapping/MerchantMappingList?pageIndex=@(Model.Pager.TotalPages)" class="page-link">Last</a>
                            </li>
                        }
                    </ul>
                }
            }
            else
            {
                <h2>No Available SubMerchant(s) Mapped.</h2>
            }
        </div>
    </div>
</div>