@model PaymentGateway21052021.Areas.SysSetup.Models.SysCompanyViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Company";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Company"]</h1>

<div class="card">
    <div class="card-body">
        <div class="col-10 mb-5">
            <div class="float-left mr-3">
                <a asp-action="CompanyList" class="btn btn-warning float-left">List of Companies</a>
            </div>
            <div class="float-left">
                @if (ViewBag.Message != null)
                {
                    <span class="alert-success">@ViewBag.Message</span>
                }
            </div>
        </div>

        <br />
        <div class="col-10 mb-5">
            <form asp-action="Company" asp-controller="SysCompany" method="post">
                @Html.AntiForgeryToken()
                @*<label>Select GLAccount</label>
                <select asp-for="GLAAccountID" asp-items="@(new SelectList(ViewBag.GLAccountList, "GLAccountID", "GLAccountCode"))"
                        class="form-control" placeholder="Service Type"></select>
                <span asp-validation-for="GLAAccountID" class="text-danger"></span>
                <br />
                <br />*@
                <label asp-for="CompanyName"></label>
                <input asp-for="CompanyName" placeholder="Enter Company Name" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
                <br />
                <label asp-for="CompanyAddress"></label>
                <input asp-for="CompanyAddress" placeholder="Enter Company Address" class="form-control" />
                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                <br />
                <input type="submit" value="Save" class="btn btn-info" />
            </form>

        </div>




    </div>
</div>

