@model PaymentGateway21052021.Areas.EgsOperations.Models.EgsMerchantTypeViewModel
@{
    ViewData["Title"] = "MerchantType";
}
<h1>Merchant Type(s)</h1>


<div class="card">
    <div class="card-body">
        <div class="col-mb-12">
            <div>
                <a asp-action="MerchantTypeList" class="btn btn-warning float-left">Merchant Type(s)</a>
            </div>
            <div>
                @if (ViewBag.Message != null)
                {
                    <span class="alert-success">@ViewBag.Message</span>
                }
            </div>
        </div>
    </div>
</div>

<div class="col-mb-12">
    <form asp-action="MerchantType" asp-controller="EgsMerchantType" method="post">
        @Html.AntiForgeryToken()
        <label>Merchant Type</label>
        <input asp-for="MerchantTypeName" placeholder="Enter Merchant Type" class="form-control" />
        <span asp-validation-for="MerchantTypeName" class="text-danger"></span>
        <br />
        <input type="submit" value="Save" class="btn btn-info" />
    </form>

</div>
